[user]
  name = {{ .user.git.name }}
  email = {{ .user.git.email }}
[pull]
  rebase = true
[init]
  defaultBranch = main
[core]
  editor = lvim
  autocrlf = false

{{ if .user.git.custompath }}
[includeIf "gitdir:{{ .user.git.custompath }}/"]
  path = {{ .user.git.custompath }}/.gitconfig
{{ end }}
