#!/bin/sh

{{ if eq .chezmoi.os "linux" }}

  {{ if eq .chezmoi.osRelease.id "arch" -}}

  ## sudo pacman -Syu --noconfirm fzf 

  {{ else if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

  ## sudo apt install fzf

  {{ end }}

  # Common
  ## git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
  ## ~/.fzf/install --no-bash --completion --key-bindings --no-update-rc
{{ end }}
