-- general
lvim.colorscheme = "tokyonight-night"
lvim.format_on_save = true
lvim.log.level = "info"

vim.opt.shiftwidth = 2
vim.opt.tabstop = 2
vim.opt.relativenumber = true
vim.opt.wrap = false

-- keymappings
lvim.leader = "space"
lvim.builtin.which_key.mappings["t"] = {
  name = "Trouble",
  r = { "<cmd>Trouble lsp_references<cr>", "References" },
  f = { "<cmd>Trouble lsp_definitions<cr>", "Definitions" },
  d = { "<cmd>Trouble document_diagnostics<cr>", "Diagnostics" },
  q = { "<cmd>Trouble quickfix<cr>", "QuickFix" },
  l = { "<cmd>Trouble loclist<cr>", "LocationList" },
  w = { "<cmd>Trouble workspace_diagnostics<cr>", "Diagnostics" },
}

-- Builtin
lvim.builtin.alpha.active = true
lvim.builtin.alpha.mode = "dashboard"
lvim.builtin.terminal.active = true
lvim.builtin.nvimtree.setup.view.side = "left"
lvim.builtin.nvimtree.setup.renderer.icons.show.git = false

-- Lualine
local components = require("lvim.core.lualine.components")
lvim.builtin.lualine.sections.lualine_c = {
  components.diff,
  components.filename,
  "searchcount"
}
lvim.builtin.lualine.sections.lualine_y = {
  components.spaces,
  components.location
}

-- treesitter
lvim.builtin.treesitter.auto_install = false
lvim.builtin.treesitter.ensure_installed = {
  "javascript",
  "typescript",
  "lua",
  "json",
  "yaml",
  "html",
  "css",
  "bash",
  "go",
  "vue",
  "markdown",
  "dockerfile",
}
lvim.builtin.treesitter.ignore_install = { "haskell" }
lvim.builtin.treesitter.context_commentstring = nil

-- LSP
lvim.lsp.installer.setup.automatic_installation = false

local null_ls_h = require("null-ls.helpers")
local formatters = require("lvim.lsp.null-ls.formatters")
formatters.setup {
  -- {
  --   name = "prettierd",
  --   command = "prettierd",
  --   -- args = { "--print-width", "90" }
  --   -- command = "npx",
  --   -- args = null_ls_h.range_formatting_args_factory({
  --   --   "prettier",
  --   --   "--stdin-filepath",
  --   --   "$FILENAME",
  --   -- }, "--range-start", "--range-end", { row_offset = -3, col_offset = -1 }),
  --   -- filetypes = { "javascript", "json", "typescript", "vue", "html", "css", "scss", "markdown" },
  -- }
  -- {
  --   name = "eslint",
  --   -- command = "eslint",
  --   -- args = { "-f", "json", "--stdin", "--stdin-filename", "$FILENAME" },
  -- }
  {
    name = "prettier_eslint",
    -- filetypes = { "javascript", "javascriptreact", "typescript", "typescriptreact", "vue", "css", "scss", "less", "html", "json", "jsonc", "yaml", "markdown", "markdown.mdx", "graphql", "handlebars" },
    -- command = "prettier-eslint",
    -- args = { "--stdin", "--stdin-filepath", "$FILENAME" }
  }
}

local linters = require "lvim.lsp.null-ls.linters"
linters.setup {
  {
    name = "eslint",
    -- args = { "-f", "json", "--stdin", "--stdin-filename", "$FILENAME" },
  },
}

-- -- Additional Plugins <https://www.lunarvim.org/docs/configuration/plugins/user-plugins>
lvim.plugins = {
  {
    "folke/trouble.nvim",
    dependencies = { "nvim-tree/nvim-web-devicons" },
    -- settings without a patched font or icons
    opts = {
      icons = false,
      fold_open = "v",      -- icon used for open folds
      fold_closed = ">",    -- icon used for closed folds
      indent_lines = false, -- add an indent guide below the fold icons
      signs = {
        -- icons / text used for a diagnostic
        error = "error",
        warning = "warn",
        hint = "hint",
        information = "info"
      },
      use_diagnostic_signs = false -- enabling this will use the signs defined in your lsp client
    }
  },
  { "dracula/vim" },
  {
    "folke/tokyonight.nvim",
    lazy = false,
    priority = 1000,
    opts = {},
  },
  {
    "zbirenbaum/copilot-cmp",
    event = "InsertEnter",
    dependencies = { "zbirenbaum/copilot.lua" },
    config = function()
      vim.defer_fn(function()
        require("copilot").setup()
        require("copilot_cmp").setup()
      end, 100)
    end,
  },
  {
    "folke/todo-comments.nvim",
    event = "BufRead",
    config = function()
      require("todo-comments").setup()
    end,
  },
  {
    "m4xshen/smartcolumn.nvim",
    opts = {
      colorcolumn = "120",
      disabled_filetypes = { "NvimTree", "lazy", "lua", "mason", "help", "checkhealth", "lspinfo", "noice", "Trouble", "fish", "zsh", "alpha", "text", "markdown" }
    }
  },
  -- Discord Presence
  {
    "andweeb/presence.nvim",
    confg = function()
      -- The setup config table shows all available config options with their default values:
      require("presence").setup({
        -- General options
        auto_update         = false,
        neovim_image_text   = "The One True Text Editor",
        main_image          = "neovim",
        -- client_id           = "793271441293967371",
        log_level           = nil,
        debounce_timeout    = 10,
        enable_line_number  = true,
        blacklist           = {},
        buttons             = false,
        file_assets         = {},
        show_time           = false,

        -- Rich Presence text options
        editing_text        = "Editing %s",
        file_explorer_text  = "Browsing %s",
        git_commit_text     = "Committing changes",
        plugin_manager_text = "Managing plugins",
        reading_text        = "Reading %s",
        -- workspace_text      = "Working on %s",
        line_number_text    = "Line %s out of %s",
      })
    end,
  }
}
